a {
  text-decoration: none;
  color: black;
  -o-transition:.2.5s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}
a:hover {
  opacity: 0.5;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 98%;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; 
}

#icon {
  height: 15vh; 
  max-height: 80px;
  min-height: 30px; 
}

.nav-wrapper .nav-button {
  vertical-align: middle;
  display: inline-block;
  margin: 0 2vh; 
  font-size: 2vh;
}

.about-me {
  text-align: center;
}

text {
  align-items: start;
}

.links {
  display: grid;
  place-content: center;
}
.links-wrapper .links-button {
  text-align: center;
  display: inline-block;
  width: 10vh;
  margin: 0 1vh; 
}
.links-wrapper .links-button .links-icon i {
  font-size: 2.5vh;
}

@media screen and (max-width: 500px) {
  div.icon {
    display: none;
  }
  .nav-wrapper {
    text-align: center;
    margin: 2vh 0;
  }
}