a {
  text-decoration: none;
  color: black;
  -o-transition:.2.5s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}
a:hover {
  opacity: 0.5;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 98%;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; 
}

#icon {
  height: 15vh; 
  max-height: 80px;
  min-height: 30px; 
}

.images {
  text-align: center;
}
.sub-images {
  margin: 2vw;
}

.nav-wrapper .nav-button {
  vertical-align: middle;
  display: inline-block;
  margin: 0 2vh; 
  font-size: 2vh;
}

.links {
  display: grid;
  place-content: center;
}
.links-wrapper .links-button {
  text-align: center;
  display: inline-block;
  width: 10vh;
  margin: 0 1vh; 
}
.links-wrapper .links-button .links-icon i {
  font-size: 2.5vh;
}

@media screen and (max-width: 500px) {
  div.icon {
    display: none;
  }
  .nav-wrapper {
    text-align: center;
    margin: 2vh 0;
  }
}


#myImg {
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {
  opacity: 0.7;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}