html, body {
  height: 98%;
  font-family: 'Montserrat', sans-serif;
}
html {
  background-image: url('home-images/thinker.png');
  background-repeat: no-repeat;
  background-size: 90vh;
  background-position: right bottom;
}

h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
}

#icon {
  margin: 2.5vh;
  height: 12.5vh; 
}

article {
  display: grid;
  grid-template-columns: 20vw auto 1fr;
  grid-template-rows: 45vh 1fr 25vh;
}

.nav {
  z-index: 2;
  text-align: center;
  grid-column: 2 / 3;
}

.nav-wrapper .nav-button {
  vertical-align: middle;
  display: inline-block;
  margin: 0 2vh; 
  font-size: 2vh;
}

.welcome {
  z-index: 2;
  text-align: center;
  grid-column: 2 / 3;
}

.links {
  z-index: 2;
  align-items: center;
  text-align: center;
  grid-column: 2 / 3;
  display: grid;
}
.links-wrapper .links-button {
  text-align: center;
  display: inline-block;
  margin: 0 2.5vh;
}
.links-wrapper .links-button .links-icon i {
  font-size: 2.5vh;
}

@media screen and (max-width: 150vh) {
  div.icon {
    display: none;
  }
  .nav-wrapper {
    text-align: center;
    margin: 2vh 0;
  }
  #background {
    display: none;
  }
  article {
    grid-template-columns: 0;
    grid-template-rows: 50vh 1fr 25vh;
  }
}
@media screen and (max-width: 90vh) {
  html {
    background-image: url("home-images/icon.png");
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: center 10vh;
  }
}

a {
  text-decoration: none;
  color: black;
  -o-transition:.2.5s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}
a:hover {
  opacity: 0.5;
}

.fade {
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
