a {
  text-decoration: none;
  color: black;
  -o-transition:.2.5s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}
a:hover {
  opacity: 0.5;
}

.main-list {
  position: relative;
  margin-right: 70vh; 
  font-family: 'Montserrat', sans-serif;
  line-height: 10vh;
}
h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.horizontal-list {
  margin: 0;
  pading: 0;
  list-style: none;
  text-align: center;
}
.horizontal-list-item {
  display: inline;
  padding: 2vh; 
}

#icon {
  margin: 2.5vh;
  height: 12.5vh; 
}

#background {
  position: absolute;
  margin: 5vh;
  bottom: 0;
  right: 0;
  height: 70vh;
}




