a {
  text-decoration: none;
  color: black;
  -o-transition:.2.5s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}
a:hover {
  opacity: 0.5;
}

html, body {
  height: 98%;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
}

#icon {
  margin: 2.5vh;
  height: 12.5vh; 
}

#background {
  z-index: 1;
  position: absolute;
  margin: 5vh;
  bottom: 0;
  right: 0;
  height: 70vh;
}

article {
  display: grid;
  grid-template-columns: 20vw auto 1fr;
  grid-template-rows: 45vh 1fr 25vh;
}

.nav {
  z-index: 2;
  text-align: center;
  grid-column: 2 / 3;
}

.nav-wrapper .nav-button {
  vertical-align: middle;
  display: inline-block;
  margin: 0 2vh; 
  font-size: 2vh;
}

.welcome {
  z-index: 2;
  text-align: center;
  grid-column: 2 / 3;
}

.links {
  z-index: 2;
  align-items: center;
  text-align: center;
  grid-column: 2 / 3;
  display: grid;
}
.links-wrapper .links-button {
  text-align: center;
  display: inline-block;
  margin: 0 2.5vh;
}
.links-wrapper .links-button .links-icon i {
  font-size: 2.5vh;
}

@media screen and (max-width: 500px) {
  div.icon {
    display: none;
  }
  .nav-wrapper {
    text-align: center;
    margin: 2vh 0;
  }
  #background {
    display: none;
  }
  article {
    grid-template-columns: 0;
  }
}


