
.section {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.section_header {
    position: inherit;
    z-index: 5;
    top: 1.5em;

    font-weight: 100;
    font-size: 6rem;
    letter-spacing: 1.5rem;
}

@media (max-width: 600px) {
    .section_header {
        font-size: 4.5rem;
        top: 2em;
    }
}

.scroll {
    position: inherit;
    z-index: 5;
    top: 60vh;

    padding: 0.5em;

    cursor: pointer;
}

@media (min-width: 1600px) {
    .scroll {
        top: 67vh;
    }
}

@media (max-width: 600px) {
    .scroll {
        top: 65vh;
    }
}

.cover_image {
    height: 70vh;
    width: 100%;

    overflow: hidden;
}

@media (min-width: 1200px) {
    .cover_image {
        height: 78vh;
    }
}

@media (max-width: 600px) {
    .cover_image {
        height: 75vh;
    }
}

.shimmer_text {
    background: linear-gradient(
        to right,
        #ffffff 10%,
        #ff00ff 50%,
        #ffffff 90%
    ); 
    background-size: 200% auto;
    color: transparent; 
    background-clip: text;
    animation: shimmer 3s infinite;
    animation-timing-function: linear;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}