
.image_1 {
    position: absolute;

    width: 65em;
    height: 35em;
    right: -2.5em;
    top: -1em;

    mix-blend-mode: multiply;
    filter: sepia(1) opacity(0.1);
}

.image_2 {
    position: absolute;

    width: 45em;
    height: 25em;
    right: 5em;
    top: 1em;

    mix-blend-mode: multiply;
}

.image_3 {
    position: absolute;

    width: 45em;
    height: 25em;
    right: 5em;
    top: 1em;

    filter: sepia(0.25) opacity(0.75);
}

.image_2_raw {
    border-radius: 1em;
}

.architecture {
    background: radial-gradient(ellipse 125em 50em at 80em 20em, rgb(192, 170, 152), white, white);
}

.section_body {
    margin-bottom: 1em;
}

@media (min-width: 800px) {
    .section_body {
        margin-bottom: 13em;
    }
}
