
.section {
    /* background-color: red; */
    padding-bottom: 2em;
}

.image_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    justify-content: center;

    
}

@media (min-width: 800px) {
    .image_container {
        margin: 0 4.25em;
    }
}

.image_set {
    aspect-ratio: 1;
    margin: 0.25em;
    border-radius: 0.75em;
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image_set__body {

}