
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 1em;
    padding-bottom: 1.5em;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-size: 0.9rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.logo_image {
    background-color: white;
    position: relative;
    height: 3em;
    width: 3em;
    border-radius: 0.5em;
}

.logo_text {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-size: 0.85rem;
}

.link_body {
    display: flex;
    flex-direction: row;
}

.link_container {
    margin: 0 1em;
}

.link_title {
    margin-bottom: 0.2em;
}

.link {
    font-weight: 100;
    display: block;
}
