
.programming_container {
    position: relative;
    height: 80vh;
    min-height: 500px;
    overflow: hidden;

    background: radial-gradient(ellipse 125em 50em at 20em 15em, rgb(184, 181, 147), white, white);
}

.programming {
    position: relative;
}

.body {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5vh;
    margin: 1em 10vw;
}

@media (min-width: 1200px) {
    .body {
        width: 30vw;
        right: 0;
    }
}

.links {
    position: absolute;
    width: 100%;
    bottom: 1em;
}

.image_0 {
    position: absolute;

    width: 110vw;
    height: 80vh;

    left: -10vw;

    /* mix-blend-mode: multiply; */
    filter: opacity(0.05);
}

.image_1 {
    position: absolute;

    width: 27em;
    height: 36em;

    top: -1em;
    left: 15%;

    /* mix-blend-mode: multiply; */
    filter: brightness(1.15) opacity(0.95);
}

@media (max-width: 1200px) {
    .image_1 { display: none; }
}
